.widget-list-post-search .entry-item {
    margin-bottom: 40px;
    position: relative;
}
.widget-list-post-search .entry-item:before {
    content: '';
    position: absolute;
    height: 1px;
    width: 100%;
    bottom: -20px;
    left: 0px;
    background-color: rgba(27, 27, 27, 0.1);
}
.widget-list-post-search .entry-item .entry-thumb {
    float: left;
    margin-right: 20px;
}
.widget-list-post-search .entry-item .entry-thumb img{
    width: 200px;
    max-height: 300px;
}
.widget-list-post-search .entry-item .entry-content {
    overflow: hidden;
    position: relative;
    top: -5px;
}
.widget-list-post-search .meta-date span {
    color: #9b9b9b;
    margin-left: 5px;
}
.widget-list-post-search .meta-date span:first-child {
    margin-left: 0px;
}
.widget-list-post-search .meta-date span.user-name {
    color: #5488c7;
}
.post-stats span {
    margin-left: 5px;
}
.post-stats span:first-child {
    margin-left: 0px;
}
.search-post-form .el-input {
    position: relative;
    margin-right: 20px;
    display: inline-block;
    width: 100%;
}
.search-post-form button {
    color: #fff;
    background-color: #5488c7;
    display: inline-block;
    line-height: 1;
    white-space: nowrap;
    cursor: pointer;
    -webkit-appearance: none;
    text-align: center;
    box-sizing: border-box;
    outline: none;
    margin: 0;
    transition: .1s;
    font-weight: 500;
    border: 0px;
    border-radius: 5px;
    padding-left: 15px;
    padding-right: 15px;
}
.search-post-form button i {
    margin-right: 5px;
}
.search-post-form .form-group {
    margin-bottom: 30px;
}
.widget-paginate .pagination li {
    margin-left: 10px;
}
.widget-paginate .pagination li:first-child {
    margin-left: 0px;
}
.widget-paginate .pagination li .page-link {
    border-radius: 0px;
    width: 38px;
    text-align: center;
    padding-left: 0px;
    padding-right: 0px;
}